*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.content{
  /* border: 1px dashed red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}


